@import "tailwindcss";

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}

.bg-grid {
  background-size: 20px 20px;
  background-image: radial-gradient(circle, #cbd5e1 0.8px, transparent 0.8px);
}

@media (min-width: 768px) {
  .bg-grid {
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #cbd5e1 1px, transparent 1px);
  }
}
